body {
    background-color: black;
    overflow: hidden;
}

.star {
    opacity: 1;
    tab-index: -1;
    position: absolute;
    border-radius: 50%;
}

.star0 {
    height: 1px;
    width: 1px;
    border-radius: unset;
}

.star1 {
    height: 2px;
    width: 2px;
}

.star2 {
    height: 3px;
    width: 3px;
}

.star3 {
    height: 4px;
    width: 4px;
}
